#판다스

In [ ]:
import pandas as pd

In [ ]:
#데이터프레임 - 2차원
df=pd.DataFrame({'날짜':['2000-01-01','2000-01-02','2000-01-03'],
                 '지점':[108, 108, 108],
                 '평균기온':[13.5, 16.2, 16.2],
                 '최저기온':[7.9, 7.9, 13.1],       
                 '최고기온':[20.7, 22, 21.3]})

In [ ]:
df

In [ ]:
#데이터의 모양살펴보기 -shape

In [ ]:
df.shape

In [ ]:
# 앞의 n개 데이터 살펴보기(기본값은 5)- head

In [ ]:
df.head(3)

In [ ]:
# 뒤의 n개 데이터 살펴보기(기본값은 5) tail

In [ ]:
df.tail()

In [ ]:
#인덱스 ('날짜')로 변경하기(set_index)

In [ ]:
df=df.set_index('날짜')

In [ ]:
df

In [ ]:
#인덱스 리셋하기

In [ ]:
df=df.reset_index()

In [ ]:
df

In [ ]:
#df.reset_index()가 두번 눌렸다면,
df=df.drop(['index'],axis=1)

In [ ]:
# 특정 '날짜' 컬럼 선택하기

In [ ]:
df['날짜']

In [ ]:
df.날짜

In [ ]:
# 데이터 프레임 컬럼 이름 바꾸기['날짜','지점','평균','최저','최고']

In [ ]:
df.columns=['날짜','지점','평균','최저','최고']

In [ ]:
df

In [ ]:
#변경한 컬럼 중 '최고' 출력하기

In [ ]:
max=df['최고']

In [ ]:
max

In [ ]:
# ['최저','최고'] 2개 이상의 컬럼 선택하기(리스트 활용)
df

In [ ]:
df[['최저','최고']]

#스스로 실습하기

In [ ]:
#데이터프레임 - 2차원
te=pd.DataFrame({'이름':['지윤','동수','민규'],
                 '국어':[100, 98.1, 96],
                 '수학':[23.5, 16.2, 75],
                 '과학':[88, 95, 100],       
                 '정보':[50, 50, 90]})

In [ ]:
#데이터의 모양살펴보기 -shape
te[te['정보'] > 50]['정보']

2    90
Name: 정보, dtype: int64

In [ ]:
# 앞의 n개 데이터 살펴보기(기본값은 5)- head()

In [ ]:
# 뒤의 n개 데이터 살펴보기(기본값은 5) tail()

In [ ]:
#전체출력해보기

In [ ]:
#인덱스 ('이름')로 변경하기(set_index)

In [ ]:
#전체출력해보기

In [ ]:
#인덱스 리셋하기

In [ ]:
#전체출력해보기

In [ ]:
# 특정 '국어' 컬럼 선택하기

In [ ]:
# 데이터 프레임 컬럼 이름 바꾸기['이름','국','수','과','정']

In [ ]:
#변경한 컬럼 중 '정보' 출력하기

In [ ]:
# 물론 특정 컬럼('정보')을 따로 떼어서 저장할 수도 있음

In [ ]:
#('정보')데이터 확인하기

In [ ]:
# ['수학','정보'] 2개 이상의 컬럼 선택하기(리스트 활용)

#파이썬 특정 조건 적용하기

In [ ]:
df

In [ ]:
#['최고']컬럼의 값이 21보다 큰지 확인

In [ ]:
df['최고']>21

In [ ]:
#['최고']컬럼의 값이 21보다 큰 True값만 출력

In [ ]:
df[df['최고']>21]

In [ ]:
#인덱스 ('날짜')로 다시 바꾸기

In [ ]:
df1=df.set_index('날짜')

In [ ]:
df1

In [ ]:
# 특정 인덱스 선택하기(loc)
#'2000-01-01' 인덱스 선택하기

In [ ]:
df1.loc['2000-01-01']

In [ ]:
# 특정 인덱스로 슬라이싱하기
# '2000-01-01	'부터 '2000-01-03	'까지 인덱스 슬라이싱
# a이상 b이하! , b도 포함 !

In [ ]:
df1.loc['2000-01-01':'2000-01-03']

In [ ]:
# '2020-01-01'부터 끝까지 인덱스 슬라이싱

In [ ]:
df1.loc['2000-01-01':]

In [ ]:
# '2020-01-01'인덱스, '2020-01-03'인덱스 추출하기 (2개 이상 일때 리스트 사용)

In [ ]:
df1.loc[['2000-01-01','2000-01-03']]

In [ ]:
#인덱스, 컬럼 아니고 특정 데이터 추출하기

In [ ]:
df1.loc['2000-01-01','최고']

In [ ]:
# 데이터 위치에 따른 선택(iloc)-index location
# 인덱스 -2번째 데이터 출력

In [ ]:
df1.iloc[-2]

In [ ]:
# 인덱스 -2번째부터 끝까지 데이터 슬라이싱

In [ ]:
df1.iloc[-2:]

In [ ]:
#인덱스 -2번째부터 끝까지, 컬럼 -1번째 데이터 출력

In [ ]:
df.iloc[-2:,-1]

#실습해보기2

In [ ]:
#데이터프레임 - 2차원
te=pd.DataFrame({'이름':['지윤','동수','민규'],
                 '국어':[100, 98.1, 96],
                 '수학':[23.5, 16.2, 75],
                 '과학':[88, 95, 100],       
                 '정보':[50, 50, 90]})

In [ ]:
# 특정 컬럼에 조건 적용하기
#['수학']컬럼의 값이 20보다 큰지 확인

In [ ]:
# 특정 컬럼에 조건이 참인 데이터만 추리기
#['수학']컬럼의 값이 20보다 큰 True값만 출력

In [ ]:
#인덱스 ('이름')으로 바꾸기

In [ ]:
df.set_index('날짜')

             지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
날짜
2000-01-01  184     12.2      8.3     16.0
2000-01-02  184     10.8      7.5     17.2
2000-01-03  184      6.6      3.6      8.9
2000-01-04  184      9.4      3.2     15.5
2000-01-05  184     14.2      8.9     17.5
...         ...      ...      ...      ...
2020-09-12  184     23.1     21.6     25.5
2020-09-13  184     23.0     21.7     26.1
2020-09-14  184     23.3     21.8     25.9
2020-09-15  184     23.7     21.0     25.8
2020-09-16  184     23.5     21.5     28.3

[7565 rows x 4 columns]

In [ ]:
# 특정 인덱스 선택하기(loc)
#'지윤' 인덱스 선택하기

In [ ]:
df.loc['2020-08-01' : '2020-08-31']

Empty DataFrame
Columns: [날짜, 지점, 평균기온(℃), 최저기온(℃), 최고기온(℃)]
Index: []

In [ ]:
# 특정 인덱스로 슬라이싱하기
# '지윤'부터 '동수'까지 인덱스 슬라이싱
# a이상 b이하! , b도 포함 !

In [ ]:
# '지윤'부터 끝까지 인덱스 슬라이싱

In [ ]:
# '지윤'인덱스, '민규'인덱스 추출하기 (2개 이상 일때 리스트 사용)

In [ ]:
# 데이터 위치에 따른 선택(iloc)-index location
# 인덱스 -2번째 데이터 출력

In [ ]:
# 인덱스 -3번째부터 끝까지 데이터 슬라이싱

In [ ]:
#인덱스 -5번째부터 끝까지, 컬럼 -1번째 데이터 출력

#데이터 정보 확인하기

In [ ]:
#데이터프레임 - 2차원
디에프=pd.DataFrame({'날짜':['2000-01-01','2000-01-02','2000-01-03'],
                 '지점':[108, 108, 108],
                 '평균기온':[13.5, 16.2, 16.2],
                 '최저기온':[7.9, 7.9, 13.1],       
                 '최고기온':[20.7, 22, 21.3]})

In [ ]:
# 데이터 정보 확인하기

In [ ]:
디에프.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      3 non-null      object
 1   지점      3 non-null      int64
 2   평균기온    3 non-null      float64
 3   최저기온    3 non-null      float64
 4   최고기온    3 non-null      float64
dtypes: float64(3), int64(1), object(1)
memory usage: 248.0+ bytes

In [ ]:
# 통계적 특성 확인하기

In [ ]:
디에프.describe()

          지점       평균기온       최저기온       최고기온
count    3.0   3.000000   3.000000   3.000000
mean   108.0  15.300000   9.633333  21.333333
std      0.0   1.558846   3.002221   0.650641
min    108.0  13.500000   7.900000  20.700000
25%    108.0  14.850000   7.900000  21.000000
50%    108.0  16.200000   7.900000  21.300000
75%    108.0  16.200000  10.500000  21.650000
max    108.0  16.200000  13.100000  22.000000

In [ ]:
# ['최고'] 컬럼의 최대값 구하기

In [ ]:
디에프['최고기온'].max()

22.0

In [ ]:
# ['최고'] 컬럼의 최소값 구하기

#실습해보기3

In [ ]:
#데이터프레임 - 2차원
te=pd.DataFrame({'이름':['지윤','동수','민규'],
                 '국어':[100, 98.1, 96],
                 '수학':[23.5, 16.2, 75],
                 '과학':[88, 95, 100],       
                 '정보':[50, 50, 90]})

In [ ]:
# 데이터 정보 확인하기

In [ ]:
# 통계적 특성 확인하기

In [ ]:
# ['정보'] 컬럼의 최대값 구하기

In [ ]:
# ['정보'] 컬럼의 최소값 구하기

#제주 기온 데이터 실습

**제주 기온 데이터에서 2000-01-01부터 가장 최고기온이 높은 온도와 날짜를 구하세요.**

 - pandas를 사용해서.

In [ ]:
#jeju_temp.csv파일을 코랩에 불러오기

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving jeju_temp.csv to jeju_temp.csv

In [ ]:
# 판다스에서 csv 데이터 읽어오기 (판다스 별명은 pd)

In [ ]:
import pandas as pd
df = pd.read_csv('jeju_temp.csv', encoding = 'cp949')
df

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2000-01-01  184     12.2      8.3     16.0
1     2000-01-02  184     10.8      7.5     17.2
2     2000-01-03  184      6.6      3.6      8.9
3     2000-01-04  184      9.4      3.2     15.5
4     2000-01-05  184     14.2      8.9     17.5
...          ...  ...      ...      ...      ...
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

[7565 rows x 5 columns]

In [ ]:
# 데이터 모양 살펴보기

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7565 entries, 0 to 7564
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   날짜       7565 non-null   object
 1   지점       7565 non-null   int64
 2   평균기온(℃)  7565 non-null   float64
 3   최저기온(℃)  7564 non-null   float64
 4   최고기온(℃)  7564 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 295.6+ KB

In [ ]:
#데이터 살펴보기-head

In [ ]:
# 데이터 프레임 컬럼 이름 바꾸기 ['날짜','지점', '평균', '최저', '최고']

In [ ]:
df.columns = ['날짜', '지점', '평균', '최저', '최고']

In [ ]:
df

In [ ]:
# ['최고'] 컬럼만 선택하기

In [ ]:
df['최고']

0       16.0
1       17.2
2        8.9
3       15.5
4       17.5
        ...
7560    25.5
7561    26.1
7562    25.9
7563    25.8
7564    28.3
Name: 최고, Length: 7565, dtype: float64

In [ ]:
#['최고'] 컬럼 중 최고값 찾아 max_temp에 저장하기

In [ ]:
max_temp = df['최고'].max()

In [ ]:
# ['최고'] 컬럼에서 max_temp와 같은 조건의 데이터만 추출하여 df1에 저장하기

In [ ]:
df1 = df[df['최고'] == max_temp]

In [ ]:
df2 = df1.set_index('최고')
df2

              날짜   지점    평균    최저
최고
37.0  2017-07-21  184  32.1  28.6

In [ ]:
# df1의 인덱스를 ('최고')로 변경하고 df2에 저장하기

In [ ]:
df

In [ ]:
# df2의 최고기온의 날짜를 max_date에 저장하기

In [ ]:
#최종 데이터 출력하기

In [ ]:
#print('제주의 최고 기온이 가장 높은 온도는', max_temp,'이고, 날짜는', max_date,'이다')

In [ ]:
df.columns=['날짜','지점','평균','최저','최고']

In [ ]:
import re
df

              날짜   지점    평균    최저    최고
0     2000-01-01  184  12.2   8.3  16.0
1     2000-01-02  184  10.8   7.5  17.2
2     2000-01-03  184   6.6   3.6   8.9
3     2000-01-04  184   9.4   3.2  15.5
4     2000-01-05  184  14.2   8.9  17.5
...          ...  ...   ...   ...   ...
7560  2020-09-12  184  23.1  21.6  25.5
7561  2020-09-13  184  23.0  21.7  26.1
7562  2020-09-14  184  23.3  21.8  25.9
7563  2020-09-15  184  23.7  21.0  25.8
7564  2020-09-16  184  23.5  21.5  28.3

[7565 rows x 5 columns]

In [ ]:
#df[df['날짜'] == '^2020-08']['평균'].sum()
df

              날짜   지점    평균    최저    최고
0     2000-01-01  184  12.2   8.3  16.0
1     2000-01-02  184  10.8   7.5  17.2
2     2000-01-03  184   6.6   3.6   8.9
3     2000-01-04  184   9.4   3.2  15.5
4     2000-01-05  184  14.2   8.9  17.5
...          ...  ...   ...   ...   ...
7560  2020-09-12  184  23.1  21.6  25.5
7561  2020-09-13  184  23.0  21.7  26.1
7562  2020-09-14  184  23.3  21.8  25.9
7563  2020-09-15  184  23.7  21.0  25.8
7564  2020-09-16  184  23.5  21.5  28.3

[7565 rows x 5 columns]

In [ ]:
#정규식을 사용한 8월 평균
kk = 0
asd = re.compile("^2020-08")
for i in df['날짜']:
    if asd.search(i):
        aa = df[df['날짜'] == str(i)]['평균']
        kk += float(aa)
kk
print(kk / 31)

29.43225806451612

In [ ]:
#df.loc['2020-08-01' : '2020-08-31']