In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
jeju = pd.read_csv('/content/제주기후.csv', encoding="CP949")

In [6]:
jeju

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1970-01-01  184      5.3      1.5     10.3
1      1970-01-02  184      6.4      3.2      9.0
2      1970-01-03  184      5.1      3.2      6.6
3      1970-01-04  184      1.1     -2.5      4.2
4      1970-01-05  184     -0.7     -4.6      2.0
...           ...  ...      ...      ...      ...
18568  2020-11-02  184     15.7     12.8     18.5
18569  2020-11-03  184     13.1     11.8     16.0
18570  2020-11-04  184     12.0      9.2     15.1
18571  2020-11-05  184     14.0      8.2     17.9
18572  2020-11-06  184     17.8     13.8     21.7

[18573 rows x 5 columns]

In [7]:
jeju.columns = ['날짜', '지점', '평균', '최저', '최고']

In [8]:
jeju

               날짜   지점    평균    최저    최고
0      1970-01-01  184   5.3   1.5  10.3
1      1970-01-02  184   6.4   3.2   9.0
2      1970-01-03  184   5.1   3.2   6.6
3      1970-01-04  184   1.1  -2.5   4.2
4      1970-01-05  184  -0.7  -4.6   2.0
...           ...  ...   ...   ...   ...
18568  2020-11-02  184  15.7  12.8  18.5
18569  2020-11-03  184  13.1  11.8  16.0
18570  2020-11-04  184  12.0   9.2  15.1
18571  2020-11-05  184  14.0   8.2  17.9
18572  2020-11-06  184  17.8  13.8  21.7

[18573 rows x 5 columns]

In [37]:
import math
# 원하는 달의 평균 날짜
total = 0 
index = 0
divisionValue = 0
for 날짜 in jeju['날짜']:
    날짜구분 = 날짜.split('-')
    if(날짜구분[1] == '08' and int(날짜구분[0]) >= 2000):
        total += jeju['평균'][index]
        divisionValue += 1
    index += 1
total / divisionValue

27.401536098310324

In [65]:
valueArray = [] # 2000 ~ 2020 년 월 평균값을 넣을 배열
total = 0 
index = 0
divisionValue = 0
for Month in range(1,13):
    for 날짜 in jeju['날짜']:
        날짜구분 = 날짜.split('-')
        if(int(날짜구분[1]) == Month and int(날짜구분[0]) >= 2000):
            #print(jeju['날짜'][index], Month)
            total += jeju['평균'][index]
            divisionValue += 1
        index += 1
    monthAverage = total / divisionValue
    index = 0
    total = 0
    divisionValue = 0
    valueArray.append("%0.2f" % monthAverage)
valueArray

['6.06',
 '6.87',
 '9.98',
 '14.29',
 '18.41',
 '21.84',
 '26.28',
 '27.40',
 '23.35',
 '18.75',
 '13.34',
 '8.18']

In [67]:
일교차 = [] # 12 - 1, 2 - 1, .....순서대로 연교차를 담는 배열 
for i in range(len(valueArray)):
    Value = float(valueArray[i])
    subValue = float(valueArray[i - 1])
    월교차 = Value - subValue
    월교차편집 = "%0.2f" % 월교차
    일교차.append(float(월교차편집))
일교차

[-2.12, 0.81, 3.11, 4.31, 4.12, 3.43, 4.44, 1.12, -4.05, -4.6, -5.41, -5.16]