In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
jeju = pd.read_csv('/content/제주도기후.csv', encoding="CP949")
seoul =

In [ ]:
df

               날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      1970-10-14  184     19.5     18.1     21.3
1      1970-10-15  184     19.6     17.9     22.2
2      1970-10-16  184     19.8     17.7     22.3
3      1970-10-17  184     19.2     15.6     21.4
4      1970-10-18  184     17.8     14.2     21.2
...           ...  ...      ...      ...      ...
18281  2020-11-01  184     18.1     13.7     22.3
18282  2020-11-02  184     15.7     12.8     18.5
18283  2020-11-03  184     13.1     11.8     16.0
18284  2020-11-04  184     12.0      9.2     15.1
18285  2020-11-05  184     14.0      8.2     17.9

[18286 rows x 5 columns]

In [ ]:
df.columns = ['날짜', '지점', '평균', '최저', '최고']

In [ ]:
df

               날짜   지점    평균    최저    최고
0      1970-10-14  184  19.5  18.1  21.3
1      1970-10-15  184  19.6  17.9  22.2
2      1970-10-16  184  19.8  17.7  22.3
3      1970-10-17  184  19.2  15.6  21.4
4      1970-10-18  184  17.8  14.2  21.2
...           ...  ...   ...   ...   ...
18281  2020-11-01  184  18.1  13.7  22.3
18282  2020-11-02  184  15.7  12.8  18.5
18283  2020-11-03  184  13.1  11.8  16.0
18284  2020-11-04  184  12.0   9.2  15.1
18285  2020-11-05  184  14.0   8.2  17.9

[18286 rows x 5 columns]

In [ ]:
total = 0
index = 0
divisionValue = 0
for 날짜 in df['날짜']:
    날짜구분 = 날짜.split('-')
    if(날짜구분[1] == '08' and int(날짜구분[0]) >= 2020):
        total += df['평균'][index]
        divisionValue += 1
    index += 1
total / divisionValue

29.43225806451612

In [ ]:
total = 0
index = 0
divisionValue = 0
ninetotal = 0
ninedivisionValue = 0
for 날짜 in df['날짜']:
    날짜구분 = 날짜.split('-')
    if(날짜구분[1] == '08' and int(날짜구분[0]) >= 2020):
        total += df['평균'][index]
        divisionValue += 1
    if(날짜구분[1] == '09' and int(날짜구분[0]) >= 2020):
        ninetotal += df['평균'][index]
        ninedivisionValue += 1
    index += 1
middle = total / divisionValue
ninemiddle = ninetotal / ninedivisionValue
print(middle - ninemiddle)

6.562258064516122

In [ ]:
list = []
for year in range(0,21):
    for 날짜 in df['날짜']:
        구분 = 날짜.split('-')
        if(날짜구분[0] == int(year)):
            for month in range(1,13):
                if(날짜구분[1] == month):
                    print(날짜구분[1])