#리스트

In [ ]:
s=['날짜','지점','평균기온','최저기온','최고기온']
s1=['2000-01-01',	108, 13.5, 7.9,	20.7]

In [ ]:
print(seoul)
print(seoul1)

#딕셔너리

In [ ]:
seoul={'날짜':['2000-01-01','2000-01-02','2000-01-03'],
       '지점':[108, 108, 108],
       '평균기온':[13.5, 16.2, 16.2],
       '최저기온':[7.9, 7.9, 13.1],
       '최고기온':[20.7, 22, 21.3]}

In [ ]:
print(seoul)
print(seoul['날짜'])

#판다스

In [ ]:
import pandas as pd

In [ ]:
#데이터프레임 - 2차원
df=pd.DataFrame({'날짜':['2000-01-01','2000-01-02','2000-01-03'],
                 '지점':[108, 108, 108],
                 '평균기온':[13.5, 16.2, 16.2],
                 '최저기온':[7.9, 7.9, 13.1],       
                 '최고기온':[20.7, 22, 21.3]})

In [ ]:
df

#제주의 최고기온, 날짜 분석하기

In [ ]:
import pandas as pd
df = pd.read_csv('jeju_temp.csv', encoding = 'cp949')
df.columns=['날짜','지점','평균기온','최저기온','최고기온']

max_temp=df['최고기온'].max()
df2=df[df['최고기온']==max_temp]

df3=df2.set_index('최고기온')

max_date=df3.loc[max_temp,'날짜']
print('제주의 최고기온이 가장 높은 온도는', max_temp,'이고, 날짜는', max_date,'이다')

제주의 최고기온이 가장 높은 온도는 37.0 이고, 날짜는 2017-07-21 이다

#판다스 사용하기
pandas 라이브러리는 판다스는 고수준의 자료 구조와 빠르고 쉬운 데이터 분석 도구를 제공하는 파이썬의 라이브러리 입니다.

판다스 참고url : https://pandas.pydata.org

#데이터읽어오기

In [1]:
from google.colab import files
uploaded=files.upload()

Saving jeju_temp.csv to jeju_temp.csv

In [4]:
ls

jeju_temp.csv  sample_data/

# 판다스에서 csv 데이터 읽어오기

In [6]:
import pandas
df = pandas.read_csv('jeju_temp.csv', encoding = 'cp949')
df

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2000-01-01  184     12.2      8.3     16.0
1     2000-01-02  184     10.8      7.5     17.2
2     2000-01-03  184      6.6      3.6      8.9
3     2000-01-04  184      9.4      3.2     15.5
4     2000-01-05  184     14.2      8.9     17.5
...          ...  ...      ...      ...      ...
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

[7565 rows x 5 columns]

In [7]:
# 판다스의 별명은 pd

In [8]:
import pandas as pd
df = pd.read_csv('jeju_temp.csv', encoding = 'cp949')
df

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2000-01-01  184     12.2      8.3     16.0
1     2000-01-02  184     10.8      7.5     17.2
2     2000-01-03  184      6.6      3.6      8.9
3     2000-01-04  184      9.4      3.2     15.5
4     2000-01-05  184     14.2      8.9     17.5
...          ...  ...      ...      ...      ...
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

[7565 rows x 5 columns]

#데이터 살펴보기

In [13]:
#데이터의 모양살펴보기 -shape

In [14]:
df.shape # 행, 열 개수

(7565, 5)

In [15]:
# 앞의 n개 데이터 살펴보기(기본값은 5)- head

In [19]:
df.head(3)

           날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0  2000-01-01  184     12.2      8.3     16.0
1  2000-01-02  184     10.8      7.5     17.2
2  2000-01-03  184      6.6      3.6      8.9

In [20]:
# 뒤의 n개 데이터 살펴보기(기본값은 5) - tail

In [22]:
df.tail() # 뒤에꺼 출력

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

#■특정 컬럼 인덱스 변경하기

In [23]:
#원본 데이터 인덱스 확인하기 위한 전체출력
df

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2000-01-01  184     12.2      8.3     16.0
1     2000-01-02  184     10.8      7.5     17.2
2     2000-01-03  184      6.6      3.6      8.9
3     2000-01-04  184      9.4      3.2     15.5
4     2000-01-05  184     14.2      8.9     17.5
...          ...  ...      ...      ...      ...
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

[7565 rows x 5 columns]

In [ ]:
#인덱스 ('날짜')로 변경하기 - set_index

In [24]:
df.set_index('날짜')

             지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
날짜
2000-01-01  184     12.2      8.3     16.0
2000-01-02  184     10.8      7.5     17.2
2000-01-03  184      6.6      3.6      8.9
2000-01-04  184      9.4      3.2     15.5
2000-01-05  184     14.2      8.9     17.5
...         ...      ...      ...      ...
2020-09-12  184     23.1     21.6     25.5
2020-09-13  184     23.0     21.7     26.1
2020-09-14  184     23.3     21.8     25.9
2020-09-15  184     23.7     21.0     25.8
2020-09-16  184     23.5     21.5     28.3

[7565 rows x 4 columns]

In [ ]:
#변경 되었는지 확인

In [ ]:
df

In [ ]:
#인덱스 변경하고 df에 덮어쓰기

In [25]:
df = df.set_index('날짜')

In [26]:
#df 변경 되었는지 확인

In [27]:
df

             지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
날짜
2000-01-01  184     12.2      8.3     16.0
2000-01-02  184     10.8      7.5     17.2
2000-01-03  184      6.6      3.6      8.9
2000-01-04  184      9.4      3.2     15.5
2000-01-05  184     14.2      8.9     17.5
...         ...      ...      ...      ...
2020-09-12  184     23.1     21.6     25.5
2020-09-13  184     23.0     21.7     26.1
2020-09-14  184     23.3     21.8     25.9
2020-09-15  184     23.7     21.0     25.8
2020-09-16  184     23.5     21.5     28.3

[7565 rows x 4 columns]

In [ ]:
#인덱스 리셋하기 - reset_index()

In [30]:
df = df.reset_index()

In [31]:
df

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2000-01-01  184     12.2      8.3     16.0
1     2000-01-02  184     10.8      7.5     17.2
2     2000-01-03  184      6.6      3.6      8.9
3     2000-01-04  184      9.4      3.2     15.5
4     2000-01-05  184     14.2      8.9     17.5
...          ...  ...      ...      ...      ...
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

[7565 rows x 5 columns]

#■특정 컬럼 선택하기

In [ ]:
# 특정 '날짜' 컬럼 선택하기

In [35]:
df[['날짜', '지점']]

              날짜   지점
0     2000-01-01  184
1     2000-01-02  184
2     2000-01-03  184
3     2000-01-04  184
4     2000-01-05  184
...          ...  ...
7560  2020-09-12  184
7561  2020-09-13  184
7562  2020-09-14  184
7563  2020-09-15  184
7564  2020-09-16  184

[7565 rows x 2 columns]

#■컬럼 이름 바꾸기

In [ ]:
# 최고기온(℃) 컬럼 선택하기
# 이렇게 특수문자나 띄어쓰기가 있으면 안됨

In [44]:
df

              날짜   지점  평균기온(℃)  최저기온(℃)  최고기온(℃)
0     2000-01-01  184     12.2      8.3     16.0
1     2000-01-02  184     10.8      7.5     17.2
2     2000-01-03  184      6.6      3.6      8.9
3     2000-01-04  184      9.4      3.2     15.5
4     2000-01-05  184     14.2      8.9     17.5
...          ...  ...      ...      ...      ...
7560  2020-09-12  184     23.1     21.6     25.5
7561  2020-09-13  184     23.0     21.7     26.1
7562  2020-09-14  184     23.3     21.8     25.9
7563  2020-09-15  184     23.7     21.0     25.8
7564  2020-09-16  184     23.5     21.5     28.3

[7565 rows x 5 columns]

In [45]:
# 데이터 프레임 컬럼 이름 바꾸기['날짜','지점','평균','최저','최고']

In [49]:
df.columns=['날짜','지점','평균','최저','최고']

In [50]:
#변경한 컬럼 중 '평균' 출력하기

In [52]:
df['평균']

0       12.2
1       10.8
2        6.6
3        9.4
4       14.2
        ...
7560    23.1
7561    23.0
7562    23.3
7563    23.7
7564    23.5
Name: 평균, Length: 7565, dtype: float64

In [ ]:
# 물론 특정 컬럼을 따로 떼어서 저장할 수도 있음

In [54]:
avg=df['평균']

In [55]:
#따로 저장한 데이터 확인하기

In [56]:
avg

0       12.2
1       10.8
2        6.6
3        9.4
4       14.2
        ...
7560    23.1
7561    23.0
7562    23.3
7563    23.7
7564    23.5
Name: 평균, Length: 7565, dtype: float64

#■2개 이상의 컬럼 선택하기

In [ ]:
# ['최저','최고'] 2개 이상의 컬럼 선택하기(리스트 활용)

In [53]:
df[['최저', '최고']]

        최저    최고
0      8.3  16.0
1      7.5  17.2
2      3.6   8.9
3      3.2  15.5
4      8.9  17.5
...    ...   ...
7560  21.6  25.5
7561  21.7  26.1
7562  21.8  25.9
7563  21.0  25.8
7564  21.5  28.3

[7565 rows x 2 columns]

In [ ]:
# 그래프 시각화 참고 => 이후에 matplotlib.pyplot라이브러리 사용예정
avg.plot()

# ■특정 컬럼에 조건 적용하기

In [ ]:
# 특정 컬럼에 조건 적용하기
#['최고']컬럼의 값이 20보다 큰지 확인

In [57]:
df['최고']>20

0       False
1       False
2       False
3       False
4       False
        ...
7560     True
7561     True
7562     True
7563     True
7564     True
Name: 최고, Length: 7565, dtype: bool

In [ ]:
# 특정 컬럼에 조건이 참인 데이터만 추리기
#['최고']컬럼의 값이 20보다 큰 True값만 출력

In [59]:
df[df['최고']>20]['최고']

86      21.2
103     23.8
109     22.9
112     26.1
115     20.1
        ...
7560    25.5
7561    26.1
7562    25.9
7563    25.8
7564    28.3
Name: 최고, Length: 3865, dtype: float64

In [ ]:
#인덱스 ('날짜')로 바꾸기

In [60]:
df = df.set_index('날짜')

In [61]:
df

             지점    평균    최저    최고
날짜
2000-01-01  184  12.2   8.3  16.0
2000-01-02  184  10.8   7.5  17.2
2000-01-03  184   6.6   3.6   8.9
2000-01-04  184   9.4   3.2  15.5
2000-01-05  184  14.2   8.9  17.5
...         ...   ...   ...   ...
2020-09-12  184  23.1  21.6  25.5
2020-09-13  184  23.0  21.7  26.1
2020-09-14  184  23.3  21.8  25.9
2020-09-15  184  23.7  21.0  25.8
2020-09-16  184  23.5  21.5  28.3

[7565 rows x 4 columns]

#◇특정 인덱스 선택하기

In [ ]:
# 특정 인덱스 선택하기(loc)
#'2020-09-12' 인덱스 선택하기

In [67]:
df.loc['2020-09-13']

지점    184.0
평균     23.0
최저     21.7
최고     26.1
Name: 2020-09-13, dtype: float64

#◇특정 인덱스로 슬라이싱하기

In [ ]:
# 특정 인덱스로 슬라이싱하기
# '2020-09-12'부터 '2020-09-16'까지 인덱스 슬라이싱
# a이상 b이하! , b도 포함 !

In [66]:
df.loc['2020-09-12' : '2020-9-16']

             지점    평균    최저    최고
날짜
2020-09-12  184  23.1  21.6  25.5
2020-09-13  184  23.0  21.7  26.1
2020-09-14  184  23.3  21.8  25.9
2020-09-15  184  23.7  21.0  25.8
2020-09-16  184  23.5  21.5  28.3

In [ ]:
# '2020-09-12'부터 끝까지 인덱스 슬라이싱

In [68]:
df.loc['2020-09-12':]

             지점    평균    최저    최고
날짜
2020-09-12  184  23.1  21.6  25.5
2020-09-13  184  23.0  21.7  26.1
2020-09-14  184  23.3  21.8  25.9
2020-09-15  184  23.7  21.0  25.8
2020-09-16  184  23.5  21.5  28.3

#◇특정 인덱스 추출하기

In [ ]:
# '2020-09-12'인덱스, '2020-09-14'인덱스 추출하기 (2개 이상 일때 리스트 사용)

In [73]:
df.loc[['2020-09-12','2020-09-16']]

             지점    평균    최저    최고
날짜
2020-09-12  184  23.1  21.6  25.5
2020-09-16  184  23.5  21.5  28.3

#♥특정 데이터 추출하기

In [ ]:
# 인덱스와 컬럼을 입력하여 데이터 추출하기
# 인덱스 : '2020-09-12', 컬럼 : '최고'

In [74]:
df.loc['2020-09-12','최고']

25.5

◇위치 기반 특정 인덱스 추출하기

In [ ]:
# 데이터 위치에 따른 선택(iloc)-index location
# 인덱스 -5번째 데이터 출력

In [75]:
df.iloc[-5]

지점    184.0
평균     23.1
최저     21.6
최고     25.5
Name: 2020-09-12, dtype: float64

In [ ]:
# 인덱스 -5번째부터 끝까지 데이터 슬라이싱

In [76]:
df.iloc[-5:]

             지점    평균    최저    최고
날짜
2020-09-12  184  23.1  21.6  25.5
2020-09-13  184  23.0  21.7  26.1
2020-09-14  184  23.3  21.8  25.9
2020-09-15  184  23.7  21.0  25.8
2020-09-16  184  23.5  21.5  28.3

In [ ]:
#인덱스 -5번째부터 끝까지, 컬럼 -1번째 데이터 출력

In [78]:
df.iloc[-5: ,-1] # -1은 컬럼에 맨 뒤쪽 컬럼 즉 '최고'를 의미함

날짜
2020-09-12    25.5
2020-09-13    26.1
2020-09-14    25.9
2020-09-15    25.8
2020-09-16    28.3
Name: 최고, dtype: float64

#데이터 정보 확인하기

In [ ]:
# 데이터 정보 확인하기

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7565 entries, 2000-01-01 to 2020-09-16
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지점      7565 non-null   int64
 1   평균      7565 non-null   float64
 2   최저      7564 non-null   float64
 3   최고      7564 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 615.5+ KB

#데이터 통계적 특성 확인하기

In [ ]:
# 통계적 특성 확인하기

In [80]:
df.describe() # 개수, 최솟값, 최대값,평균 등을 구해줌

           지점           평균           최저           최고
count  7565.0  7565.000000  7564.000000  7564.000000
mean    184.0    16.302379    13.553054    19.443046
std       0.0     7.737548     7.827023     8.020899
min     184.0    -3.000000    -5.800000    -1.200000
25%     184.0     9.600000     6.700000    12.800000
50%     184.0    16.800000    13.600000    20.400000
75%     184.0    22.600000    20.300000    25.700000
max     184.0    32.200000    29.700000    37.000000

In [81]:
#['최고']컬럼 최소값 구하기

In [82]:
df['최고'].min()

-1.2

In [ ]:
# ['최고']컬럼 최대값 구하기

In [83]:
df['최고'].max()

37.0

#제주 기온 데이터 실습

**제주 기온 데이터에서 2000-01-01부터 가장 최고기온이 높은 온도와 날짜를 구하세요.**

 - pandas를 사용해서.

In [ ]:
#jeju_temp.csv파일을 코랩에 불러오기

In [ ]:
# 판다스에서 csv 데이터 읽어오기 (판다스 별명은 pd)

In [ ]:
# 데이터 모양 살펴보기

In [ ]:
#데이터 살펴보기-head

In [ ]:
# 데이터 프레임 컬럼 이름 바꾸기 ['날짜','지점', '평균', '최저', '최고']

In [ ]:
# ['최고'] 컬럼만 선택하기

In [ ]:
#['최고'] 컬럼 중 최고값 찾아 max_temp에 저장하기

In [ ]:
# ['최고'] 컬럼에서 max_temp와 같은 조건의 데이터만 추출하여 df1에 저장하기

In [ ]:
df1

In [ ]:
# df1의 인덱스를 ('최고')로 변경하고 df2에 저장하기

In [85]:
df

             지점    평균    최저    최고
날짜
2000-01-01  184  12.2   8.3  16.0
2000-01-02  184  10.8   7.5  17.2
2000-01-03  184   6.6   3.6   8.9
2000-01-04  184   9.4   3.2  15.5
2000-01-05  184  14.2   8.9  17.5
...         ...   ...   ...   ...
2020-09-12  184  23.1  21.6  25.5
2020-09-13  184  23.0  21.7  26.1
2020-09-14  184  23.3  21.8  25.9
2020-09-15  184  23.7  21.0  25.8
2020-09-16  184  23.5  21.5  28.3

[7565 rows x 4 columns]

In [ ]:
# df2의 최고기온의 날짜를 max_date에 저장하기

In [103]:

max_temp = df['최고'].max()
max_data = df[df['최고'] == max_temp]['날짜']
max_data

6411    2017-07-21
Name: 날짜, dtype: object

In [ ]:
#최종 데이터 출력하기

In [105]:
print('제주의 최고 기온이 가장 높은 온도는', max_temp,'이고, 날짜는', max_data,'이다')

제주의 최고 기온이 가장 높은 온도는 37.0 이고, 날짜는 6411    2017-07-21
Name: 날짜, dtype: object 이다